<!--Footer-->
<footer class="page-footer elegant-color-dark mt-0">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <img src="/assets/imgs/prt-logo-condensed.png" alt="" style="max-width: 60%;">
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-3">
        <h5 class="title">About</h5>
        <ul>
          <li>
            <a class="amber-text" href="#">About Pesticide Risk Tool</a>
          </li>
          <li>
            <a class="amber-text" href="#">Team Members</a>
          </li>
          <li>
            <a class="amber-text" href="#">Project Materials</a>
          </li>
          <li>
            <a class="amber-text" href="#">Project Resources</a>
          </li>
          <li>
            <a class="amber-text" href="#">Data Privacy</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
      <!--/Third column-->
      <div class="col-md-3">
        <h5 class="title">Help</h5>
        <ul>
          <li>
            <a class="amber-text" href="#">Guided Tour</a>
          </li>
          <li>
            <a class="amber-text" href="#">Interpreting Risk Scores</a>
          </li>
          <li>
            <a class="amber-text" href="#">Risk Summary Legend</a>
          </li>
          <li>
            <a class="amber-text" href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>This site is maintained by the <span class="amber-text">IPM Institute of North America, Inc.</span></p>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->