<div class="container pt-5 pb-5">
  <div class="card card-body">

  <div class="row pt-4">
    <div class="col"></div>
    <div class="col-10">
      <h1 class="h1-responsive">About pesticiderisk.org</h1>
      <h5 class="text-muted">The Pesticide Risk Tool</h5>
      <hr class="my-1">
    </div>
    <div class="col"></div>
  </div>

<div class="container mt-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <p>Pesticides are critical tools for food and fiber production. Pesticide risks are real but can be carefully managed
        to minimize adverse impacts. Much progress has been made to reduce pesticide risks, including many new reduced-risk
        products and proven mitigation strategies, and ready access to this information will help reduce adverse impacts
        and improve environmental stewardship.</p>
      <p>The Pesticide Risk Tool is a user-friendly, innovative online tool that ranks pesticide products for impacts on birds,
        earthworms, small mammals, aquatic ecosystems, worker/bystander health, consumer health and pollinators. This tool
        applies best available science to permit producers, advisors and regulatory professionals to compare different pest
        management scenarios for any commodity and select options with the fewest potential environmental and health hazards.</p>
      <p>The Pesticide Risk Mitigation Engine (PRiME) project began in 2008 with primary funding from the NRCS Conservation
        Innovation Grant program. Due to the growth in interest in PRiME and the broad scope of potential users, the Integrated
        Plant Protection Center at Oregon State University and the IPM Institute decided to each lead efforts to address
        the needs of specific sectors. Oregon State predominantly focuses on meeting the needs of the public sector including
        governments and agencies and Extension delivery to farmers and will continue to run at ipmPRiME.org. The IPM Institute
        runs pesticiderisk.org to primarily focus on applications for food industry supply chains and other commercial sector
        uses.</p>
      <p>The Pesticide Risk Tool’s product database contains nearly all pesticide products registered for agricultural use in
        the US and we plan to incorporate new products and active ingredients every 3 months. The current version of our
        tool does not account for site-specific soil characteristics, mitigation features or sensitive sites. These features
        are currently in development. Keep visiting this website for more updates.</p>
      <p>See our
        <a href="#">Frequently Asked Questions</a> for more information.</p>
    </div>
    <div class="col"></div>
  </div>
</div>
  </div>