<div class="container pt-5 pb-5">
  <div class="card card-body">

    <div class="row pt-4">
      <div class="col"></div>
      <div class="col-10">
        <h1 class="h1-responsive">Team Members</h1>
        <h5 class="text-muted">Project Managaer</h5>
        <hr class="my-1">
      </div>
      <div class="col"></div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col"></div>
        <div class="col-10">
          <h3>Core Team</h3>
          <div class="row mt-5">
            <div class="col-xs-12 col-md-6 mb-4 text-center">
              <div class="card card-body">
                <i class="fa fa-user-circle fa-5x " aria-hidden="true"></i>
                <h4 class="mt-3">Dr. Thomas Green</h4>
                <h5 class="text-muted">Director</h5>
                <p>asdf</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 mb-4 text-center">
              <div class="card card-body">
                <i class="fa fa-user-circle fa-5x " aria-hidden="true"></i>
                <h4 class="mt-3">Ida Yu</h4>
                <h5 class="text-muted">Project Coordinator</h5>
                <p class="text-left text-muted">Ida is bringing a refreshing new viewpoint to the future of the Pesticide Risk Tool. She works on design
                  and function of the Pesticide Risk Tool. She coordinates meetings and communucation between team members.
                  She is responsible for outreach to Pesticide Risk Tool users.</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 mb-4 text-center">
              <div class="card card-body">
                <i class="fa fa-user-circle fa-5x " aria-hidden="true"></i>
                <h4 class="mt-3">Dan Skolnik</h4>
                <h5 class="text-muted">Senior Software Engineer</h5>
                <p class="text-left text-muted">Daniel has over 20 years of software development experience. He has worked as a sub-contractor for NASA
                developing software for a plant growth chamber and other spaceflight hardware, worked on vision software
                for manufacturing, software for medical applications and has experience writing applications for web-based
                systems. Daniel has a B.S. in Engineering and a Master’s degree in Information Technology from the University
                of Wisconsin, Madison.</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 mb-4 text-center">
              <div class="card card-body">
                <i class="fa fa-user-circle fa-5x " aria-hidden="true"></i>
                <h4 class="mt-3 ">Cole Schmitt</h4>
                <h5 class="text-muted">Web Developer</h5>
                <p class="text-left text-muted">Cole is bringing modern front-end design concepts to the Pesticide Risk Tool and working on the back-end
                  to improve existing features and introduce new ones.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>