<div class="card card-body mb-4">
  <p class="mb-0">Name:</p>
  <p class="card-title mb-4">{{ managementUnit.name }}</p>
  <p class="mb-0">Type:</p>
  <p class="card-title mb-4">{{ managementUnit.type }}</p>
  <p class="mb-0">Area:</p>
  <p class="card-title mb-4">{{ managementUnit.area }} {{ managementUnit.areaUnits }}</p>
  <p class="mb-0" *ngIf="managementUnit.desc != ''">Description:</p>
  <p class="card-title" *ngIf="managementUnit.desc != ''">{{managementUnit.desc}}</p>
  <div class="flex-row">
    <a (click)="selectSite(site)" class="btn btn-green" mdbRippleRadius>Select</a>
    <a (click)="editSite(site)" class="btn btn-amber" mdbRippleRadius>Edit</a>
    <a (click)="deleteSite(site)" class="btn btn-red darken-3" mdbRippleRadius>Delete</a>
  </div>
</div>