<div class="container">
  
  <div class="row pt-5 pb-5">
    <div class="col"></div>
    <div class="col-xs-10 ">
      <!-- Login form -->
      <form class="card card-body user-form">
        <h1 class=" text-center mb-4">Sign in</h1>
        <!-- <hr class="pb-4"> -->
      
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="defaultForm-email" class="form-control" mdbActive>
          <label for="defaultForm-email">Your email</label>
        </div>
      
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
          <label for="defaultForm-pass">Your password</label>
        </div>
      
        <div class="text-center">
          <button class="btn btn-amber waves-light" mdbRippleRadius>Login</button>
        </div>
      </form>
      <!-- Login form -->
    </div>
    <div class="col"></div>
  </div>
  <div class="row pb-5">
    <div class="col"></div>
    <div class="col-xs-8">
      <p>First time user?
        <a routerLink="/register">Click here</a> to sign up and begin using PRT.</p>
        <p>Forgot your password? <a routerLink="/">Click here</a> to recover your password.</p>
    </div>
    <div class="col"></div>
  </div>
</div>
