<div class="card card-body mb-4"  [ngClass]="site == this.selectedSite ? 'success-color-dark white-text' : ''">
  <p class="mb-0">Name:</p>
  <p class="card-title mb-4">{{site.name}}</p>
  <p class="mb-0" *ngIf="site.desc != ''">Site Description:</p>

  <p class="card-title" *ngIf="site.desc != ''">{{site.desc}}</p>
  <div class="flex-row">
    <a (click)="selectSite(site)" class="btn btn-green" mdbRippleRadius>Select</a>
    <a (click)="editSite(site)" class="btn btn-amber" mdbRippleRadius>Edit</a>
    <a (click)="confirmDelete(site)" class="btn btn-red darken-3" mdbRippleRadius>Delete</a>
  </div>
</div>