<div class="containter">
  <div class="row" style="height: 500px; background-image: url(../assets/imgs/green-circle.png); background-size: cover; background-position: center;">
  <img src="../assets/imgs/prt-logo-lg.png" style="height:50%; margin-top: 125px;"  alt="" class="mx-auto d-block">
  </div>
  <div class="row px-3 py-3 ">
    <div class="col-xs-12 col-md-4">
      <!--Panel-->
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h4 class="card-title">Why pesticiderisk.org?</h4>
          <p class="card-text">The Pesticide Risk Tool estimates the risk of negative impacts of pesticide applications. Ready access to this information
          will help reduce adverse impacts and improve environmental stewardship.</p>
          <div class="flex-row">
            <a class="btn btn-green waves-light" mdbRippleRadius routerLink="/about">Read More</a>
          </div>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <div class="col-xs-12 col-md-4">
      <!--Panel-->
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h4 class="card-title">What's new?</h4>
          <p class="card-text">The Pesticide Risk Tool has been updated to include a new User-Defined Products feature. This allows international users
          to analyze products that are not registered with the US EPA. The workspace has also been improved to enhance user experience.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <div class="col-xs-12 col-md-4">
      <!--Panel-->
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h4 class="card-title">Getting started.</h4>
          <p class="card-text">Start measuring and managing your pest management footprint today by creating your account and using your 10-day free trial.
          Need more guidance? See our <a routerLink="/guided-tour">guided tour.</a></p>
          <div class="flex-row">
            <a routerLink="/register" class="btn btn-amber" mdbRippleRadius>Register</a>
          </div>
        </div>
      </div>
      <!--/.Panel-->
    </div>
  </div>
</div>