<div class="container-fluid">

  <div class="row pt-5 pb-5">
    <div class="col"></div>
    <div class="col-xs-12">
      <!--Register form-->
      <form class="card card-body user-form">
        <h1 class=" text-center mb-4">Sign up</h1>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control" mdbActive>
          <label for="orangeForm-name">Username</label>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control" mdbActive>
          <label for="orangeForm-email">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
          <label for="orangeForm-pass">Your password</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-confirm" class="form-control" mdbActive>
          <label for="orangeForm-confirm">Confirm password</label>
        </div>

        <div class="md-form">
          <i class="fa fa-question prefix grey-text" ></i>
          <input type="text" id="orangeForm-question" class="form-control" mdbActive>
          <label for="orangeForm-question">Security Question</label>
        </div>

        <div class="text-center">
          <button class="btn btn-amber waves-light" mdbRippleRadius>Sign up</button>
        </div>

        

      </form>
      <!--/Register form-->
    </div>
    <div class="col"></div>
  </div>
</div>